.cache
.ssh
.vscode-server
dockerCommands.txt
Lab2/.deps
Lab2/obj
Lab2/pat1
Lab2/pat2
Lab2/pat3
Lab2/pat4
Lab2/test1
Lab2/test2
Lab2/test3
Lab2/demo
Lab2/bin
Lab2/202110421_assign2.tar.gz
lab-3-memory.tar.gz